@model JobRecorderNet.Models.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col w-full justify-center items-center">    
        <form class="flex flex-col gap-4 bg-gray-100 rounded shadow border w-[35%] p-5" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger">
                <h1 class="text-3xl font-semibold text-center">Log-in Below</h1>
            </div>

            <div>
                <label class="control-label block text-xl font-semibold" asp-for="Email"></label>
                <input class="form-control mt-1 w-full border rounded p-2 bg-gray-50" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label block text-xl font-semibold" asp-for="Password"></label>
                <input <input class="form-control mt-1 w-full border rounded p-2 bg-gray-50" asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="flex form-group w-full justify-center">
                <button class="bg-blue-600 hover:bg-blue-700 transition duration-500 text-white px-4 py-2 rounded" type="submit">Login</button>
            </div>
            <p class="w-full text-center">Don't have an account? 
                <a asp-controller="Account" asp-action="Register" class="text-blue-600 hover:underline"> Register here </a>
            </p>
        </form>
    </div>
</body>

</html>
