@model JobRecorderNet.Models.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col w-full justify-center items-center mt-[20%]">
        <form class="flex flex-col gap-4 bg-gray-100 rounded shadow border w-[35%] p-5" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger">
                <h1 class="text-4xl font-semibold text-center p-2">JobRecorderNet</h1>
                <h1 class="text-3xl text-center font-light">Register Below</h1>
                
            </div>

            <div>
                <label class="control-label block text-xl font-semibold" asp-for="Name"></label>
                <input class="form-control mt-1 w-full border rounded p-2 bg-gray-50" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label block text-xl font-semibold" asp-for="Email"></label>
                <input class="form-control mt-1 w-full border rounded p-2 bg-gray-50" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label block text-xl font-semibold" asp-for="Password"></label>
                <input class="form-control mt-1 w-full border rounded p-2 bg-gray-50" asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="flex form-group w-full justify-center">
                <button class="w-full bg-blue-600 hover:bg-blue-700 transition duration-500 text-white py-2 rounded" type="submit">Register</button>
            </div>
            <p class="w-full text-center">Already have an account? 
                <a asp-controller="Account" asp-action="Login" class="text-blue-600 hover:underline"> Login here </a>
            </p>
        </form>
    </div>
</body>
</html>