@model JobRecorderNet.Models.Evidence

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col items-center w-full">
        <div class="w-full pb-3 rounded-lg pt-6">
            <div class="flex justify-between items-center">
                <h1 class="text-3xl font-semibold">Create Evidence</h1>
                <a class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600 transition duration-300"
                    asp-action="Index">Back to Evidence List</a>
            </div>
        </div>

        <div class="w-full">
            <div class="w-full">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="grid grid-cols-2 gap-4 border p-6 rounded-lg bg-white w-full">
                        <div class="form-group">
                            <label asp-for="JobId" class="control-label block text-xl font-semibold"></label>
                            <select asp-for="JobId" class="form-control mt-1 w-full border rounded p-2 bg-gray-50"
                                asp-items="ViewBag.JobId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label block text-xl font-semibold"></label>
                            <input asp-for="Title" class="form-control mt-1 w-full border rounded p-2 bg-gray-50" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type" class="control-label block text-xl font-semibold"></label>
                            <select asp-for="Type"
                                class="form-control mt-1 w-full border rounded p-2 bg-gray-50"></select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Path" class="control-label block text-xl font-semibold"></label>
                            <input asp-for="Path" class="form-control mt-1 w-full border rounded p-2 bg-gray-50" />
                            <span asp-validation-for="Path" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label block text-xl font-semibold"></label>
                            <input asp-for="Description"
                                class="form-control mt-1 w-full border rounded p-2 bg-gray-50" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                            <label asp-for="CreatedAt" class="control-label block text-xl font-semibold"></label>
                            <input asp-for="CreatedAt" class="form-control mt-1 w-full border rounded p-2 bg-gray-50" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdatedAt" class="control-label block text-xl font-semibold"></label>
                            <input asp-for="UpdatedAt" class="form-control mt-1 w-full border rounded p-2 bg-gray-50" />
                            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        </div> *@
                        <div class="col-span-2">
                            <div class="flex form-group w-full justify-center">
                                <input type="submit" value="Add Evidence"
                                    class="btn btn-primary cursor-pointer bg-green-600 hover:bg-green-700 transition duration-300 text-white px-6 py-2 rounded" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
