@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col items-center w-full">
        <div class="flex flex-col w-full pb-3 rounded-lg pt-6 gap-4">
            <h1 class="text-left text-3xl font-semibold">About JobRecorderNet</h1>
            <p class="text-xl">JobRecorderNet is a port of a Quality Assurance application designed to capture and manage completed job records 
                for on-site IT services. The original application, built using vanilla JavaScript, SQLite, Blade templates, and the Laravel PHP framework, 
                has been ported using ASP.NET with Razor Pages, SQLite, Tailwind CSS, and C# <br/></p>
            <p class="text-xl">Initially developed as a university group project by a five-member team for an external client, the project is now actively 
                being reworked for portfolio and learning purposes at the client’s encouragement by two people.
            </p>
            <p class="text-xl">Stefan Barosan (MatchaBreak) leads the backend development, while Lucas Setiady (lseti1) focuses on the frontend. 
                with both contributors having done work across the full stack in some capacity.
            </p>
            <h1 class="text-left text-3xl font-semibold">Key features include:</h1>
            <ul class="list-disc pl-5 text-xl">
                <li>Role-Based Job Access</li>
                <li>Evidence Uploads</li>
                <li>Supervisor Sign-Off</li>
                <li>Job Filtering & Search</li>
                <li>Address Management</li>
                <li>Audit-Ready Logs</li>
            </ul>
            <p class="text-center font-light my-4">Note: Not all features may be implemented/work as intended, as progress on the port is still ongoing.</p>
            
        </div>
    </div>
</body>
